<!-- Pages/Shared/_SideMenu.cshtml -->
<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/EmployeeCRUD/EmployeeAdd">EmployeeAdd</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/EmployeeCRUD/EmployeeList">EmployeeList</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/EmployeeCRUD/EmployeeAdd">EmployeeAdd</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/DepartmentManagements/DepartmentManagementList">DepartmentList</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/DepartmentManagements/DepartmentManagementsAdd">DepartmentAdd</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/PerformanceReviews/PerformanceReviewAdd">PerformanceReviewAdd</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/PerformanceReviews/PerformanceReviewList">PerformanceReviewList</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/AveragePerformanceScores/AveragePerformanceScoreList">Average Performance Score List</a>
        </li>
    </ul>
</div>